# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Environment files
.env
.env.*
*.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# IDE
.vscode/settings.json
.idea/

# Executables
*.exe
*.msi

# Large binaries
*.onnx
*.bin
*.pt
*.pkl
